@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
	margin-bottom:100px;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
a {text-decoration: none;color: black;}
a:hover {
    color: #FF00FF;
}

.rightc{position: absolute;
                top: 90px;
                padding:0;
                right: 5%;}
#banner 
		{
		height:90px;
		width:728px; 
		margin-top: -10px;
		margin-left: -15px;
		margin-right: 15px;
		margin-left: 15px;
		}
		
#banner1 
		{
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
				width:100%;
                height: 90px;
                z-index: -1;
           }
		   

.contain{position:absolute;top:200px;}
 #map { height: 480px; }
 
 
 .rotate90 {	-webkit-transform: rotate(-90deg);
					-moz-transform: rotate(-90deg);
					-o-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					transform: rotate(-90deg);
					
				}

.row:after {
  clear: both;
  }
  .row:before,.row:after {
  display: table;
  content: " ";
}
#poscon{padding-top:20px;vertical-align: top;};
#iconA,#iconB,#iconC{width:25px; height:39px;}
#Aicon,#Bicon,#Cicon{padding-right:15px;margin-bottom:0px;}
#resname,#resname1,#resname2{font-weight: bold;color: #8A0886;}
#nameres,#nameres1,#nameres2{padding:10px;vertical-align: top;}
#picRes,#picRes1,#picRes2{padding:20px;vertical-align: top;}
#addres,#addres1,#addres2{color: #868586;font-size:10px;font-weight: bold;}
#desc{font-size:12px;font-weight: bold;}
#button{padding:10px;}
#button22{padding-left:150px;}
.minad{width:50%;margin-top:100px;}
.search {
			width:20%;
			position: absolute;
			
			top: 25px;
			right: 130px;
			padding:8px 5px 8px 30px;
			border:1px solid #ccc;
			
}
.username,.password {
			
			width:220px;
			padding:5px 3px 5px 10px;
			margin-top:9px;
			border:1px solid #ccc;
			
}
.tombol1 {
			position: absolute;
			top: 21px;
			right: 130px;
			padding:8px 5px 8px 30px;			
}
.tombol {
			position: absolute;
			
			top: 13px;
			right: 10px;
			padding:8px 5px 8px 30px;			
}

p,h1{font-family: Arial, Helvetica, sans-serif;}

body{background:#FFCC99;}
.collor{background-color: #FF724F; padding:20px;}
.sd{width: 254px; height: 40px;}
.sda{width: 254px; height: 100px;}
.sds{font-size:20px;font-family: Arial, Helvetica, sans-serif;}
#walau{font-size:25px;color:#FFFFFF;}
.edd{width:100px}
.detail{margin:20px;}
#clear{padding-left:20px;}
#popupi{text-align: center;}

#popup{padding:0px 0px 5px 5px;}


